:root {
  --font-big: 2rem;

  --clr-white: #fefefe;
  --clr-blue: #324ca8;
  --clr-purple: #9c32a8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-blue);
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: var(--clr-white);
}

.counter {
  color: var(--clr-purple);
  font-size: var(--font-big);
  font-weight: bold;
}
