:root {
  --font-big: 2rem;

  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 32px;

  --clr-white: #fefefe;
  --clr-blue: #324ca8;
  --clr-purple: #9c32a8;
  --clr-green: #32a848;
  --clr-yellow: #9ca832;
  --clr-red: #a8323c;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
  background-color: var(--clr-blue);
  color: var(--clr-white);
  font-family: 'Open Sans', sans-serif;
}

.header {
  margin-bottom: 0;
}

.counter {
  color: var(--clr-purple);
  font-size: var(--font-big);
  font-weight: bold;
}

.step {
  width: 64px;
  padding: var(--space-sm) var(--space-md);
  border: unset;
  border-radius: var(--space-xs);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-lg);
}

.button {
  padding: var(--space-sm) var(--space-md);
  border: unset;
  border-radius: var(--space-xs);
  color: var(--clr-white);
}

.increase {
  background-color: var(--clr-green);
}

.reset {
  background-color: var(--clr-yellow);
}

.decrease {
  background-color: var(--clr-red);
}

.increase,
.reset,
.decrease {
  transition: filter 0.3s;
}

.increase:hover,
.reset:hover,
.decrease:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.increase:active,
.reset:active,
.decrease:active {
  filter: brightness(120%);
}
